<div class="menu-wrap">
  <a href="/admin">首页</a>
  <a href="/admin/banners">banner设置</a>
  <a href="/admin/blog">blog设置</a>
  <a href="/admin/banners">联系方式</a>
  <a href="/admin/banners">用户评价</a>
  <a href="/admin/banners">产品介绍</a>
  <a href="/admin/banners">留言管理</a>
  <a href="/admin/banners">新闻管理</a>
</div>