<div class="top-wrap">
  <a href="/admin/">管理首页</a>
  <a href="/admin/banners">banner设置</a>
  <a href="/admin/blog">blog设置</a>
  <a href="/admin/contact">联系方式</a>
  <a href="/admin/custom">用户评价</a>
  <a href="/admin/intro">产品介绍</a>
  <a href="/admin/msg">留言管理</a>
  <a href="/admin/news">新闻管理</a>
</div>
