<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="#" method="post">
        姓名：<input type="text" name="name"/><br />
        年龄：<input type="text" name="age"/><br />

        <input type="submit"/>
    </form>
</body>
</html>