{
  "extends": ["standard", "eslint:recommended"],
  "plugins": ["html"],
  "parser": "babel-eslint",
  "rules": {
    "semi": "off",
    "no-new": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off"
  }
}
