<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
</head>
<body>
  <h1>好高兴啊。今天我买了一部iphone <%= a %>s</h1>
  <ul>
    <% for ( var i = 0; i < news.length; i++) { %>
      <li><%= news[i].title %></li>
    <% } %>
  </ul>
</body>
</html>