<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>1-v-if</title>

</head>
<body>
<div id="app">
  <h3 v-if="isShow">如果isShow为真，则显示这条</h3>
  <h3 v-else>否则显示这条</h3>
  <br />
  <div>
    <h2>template中v-if条件组</h2>
    <template v-if="isShow">
      <h2>标题</h2>
      <p>段落1</p>
      <p>段落2</p>
    </template>
    <h2>v-else</h2>
    <div v-if="Math.random() > 0.5">
      我要显示
    </div>
    <div v-else>
      我不显示
    </div>
    <h2>v-else-if   vue.js 2.1.0新增</h2>
    <p>v-else-if，顾名思义，用作 v-if 的 else-if 块。可以链式的多次使用：</p>
    <div v-if="type === '1'">
      A
    </div>
    <div v-else-if="type === '2'">
      B
    </div>
    <div v-else-if="type === '3'">
      C
    </div>
    <div v-else>
      Not A/B/C
    </div>
  </div>
</div>
<!-- vue.js -->
<script src="../../vendor/vue.js"></script>
<script>
var vm = new Vue({
  el: '#app',
  data: {
    type: false,
    isShow: false,
  }
});
</script>
</body>
</html>