html
  head
    meta(charset="utf-8")
    style
    script(src="a.js")
    link(href="a.css", rel="stylesheet")
  body    
    form
      label(for="name") 用户名 
      ：
      input(type="text", id="name", placeholder="请输入用户名")
      label(for="name") 密码 
      ：
      input(type="password", id="pass", placeholder="请输入密码")
      br
      input(type="submit", id="submit", value="提交")      
    div
      a(href="http://blog.fridolph.top") 我的个人博客
      br
      a(href="http://blog.fridolph.top/resume") 我的简历地址
