<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">

    </style>
</head>
<body>
    <h1>学生管理系统</h1>

    <form action="/tijiao" method="get">
        <p>
            姓名: <input type="text" name="name"/>
        </p>
        <p>
            年龄: <input type="text" name="age"/>
        </p>
        <p>
            数学成绩: <input type="text" name="shuxuechengji"/>
        </p>
        <p>
            语文成绩: <input type="text" name="yuwenchengji"/>
        </p>
        <p>
            <input type="submit"/>
        </p>
    </form>
</body>
</html>