* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: flex-start;
}

.left {
  flex: 0 0 300px;
}
.middle{
  flex: 1;
}

.right{
  flex: 0 0 300px;
}