* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  overflow: hidden;
  position:relative;
}
.container::after {
  content: '';
  clear:both;
  display: table;
}

.left {
  width: 300px;
  float: left;
}
.right {
  float: right;
  width: 300px;
}
.center {
  
}