<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<style>
  <% if (type == 'admin') { %>
  <% include ../style/admin.css %>
  <% } else { %>
  <% include ../style/user.css %>
  <% } %>
</style>
<body>
  
</body>
</html>