<!doctype html>
<html>
<head>
	<title>智能社-http://www.zhinengshe.com</title>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content=" ">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link href="css/base.css" rel="stylesheet" type="text/css">
	<style>
    	.nav{width:100%; position:fixed;top:0;left:0; background:#fff; border-bottom:1px solid #e8eaec; z-index:99;}
		.nav ul{width:6.4rem;height:0.45rem; padding-top:0.15rem; margin:0 auto;}
		.nav ul li{width:0.29rem;height:0.31rem; background:url(img/history.png) no-repeat 0 0; background-size:100%; margin:0 0 0 0.38rem;}
		
		.content{max-width:6.4rem; margin:0 auto; margin-top:0.6rem; background:#f2f4f5; padding-bottom:0.85rem;}
		.content .header{ padding:0.39rem 0.28rem 0.15rem 0.28rem;}
		.header h2{ float:left; margin-right:0.18rem;}
		.header p{ float:left; margin-top:0.18rem; font-size:0.3rem;}
		
		.content .cont{ padding:0 0.38rem; color:#494d4d;}
		.cont h3{ font-size:0.4rem; line-height:0.6rem; padding-bottom:0.25rem; border-bottom:1px solid #494d4d;}
		.cont .time{height:0.24rem; line-height:0.24rem; margin:0.26rem 0; }
		.time p{ float:left;position:relative;}
		.time span{width:0.33rem;height:0.32rem; position:absolute; top:-0.02rem;right:-0.35rem;}
		.time span img{width:100%;height:100%;}
		
		.cont .text-box{ font-size:0.25rem;}
		.text-box p{ line-height:0.45rem; margin-bottom:0.1rem;}
		.foot-btn{width:100%;height:0.8rem; background:#fff; border-top:1px solid #e8eaec; position:fixed; left:0;bottom:0;}
		.foot-btn ul{width:6.4rem; margin:0 auto;height:0.52rem; margin-top:0.16rem;}
		.foot-btn ul li{ float:left;}
		.foot-btn ul li a{width:100%;height:100%; display:block;}
		.foot-btn ul .say{width:2.03rem;height:0.52rem; border-right:1px solid #e8eaec;}
		.say i{width:0.36rem;height:0.26rem; background:url(img/say.png) no-repeat 0 0; background-size:100%; float:left; margin-left:0.7rem; margin-top:0.13rem;}
		.say span{height:0.26rem; float:left; line-height:0.26rem; margin-left:0.16rem; margin-top:0.13rem;}
		.foot-btn ul .zan{width:1.86rem;height:0.52rem; border-right:1px solid #e8eaec;}
		.zan i{width:0.36rem;height:0.28rem; background:url(img/zan1.png) no-repeat 0 0; background-size:100%; float:left; margin-left:0.54rem; margin-top:0.13rem;}
		.zan span{height:0.26rem; float:left; line-height:0.26rem; margin-left:0.16rem; margin-top:0.13rem;}
		.foot-btn ul .xing{width:1.2rem;height:0.52rem; border-right:1px solid #e8eaec;}
		.xing i{width:0.34rem;height:0.24rem; margin:0 auto; display:block; padding-top:0.1rem;}
		.xing i img{width:100%;}
		.foot-btn ul .fx{width:1.25rem;height:0.52rem;}
		.fx i{width:0.33rem;height:0.08rem;display:block; margin:0 auto; padding-top:0.15rem;}
		.fx i img{width:100%;}
    </style>
    <script src="js/font.js"></script>
    <script>
    	function goBack(){
			window.history.go(-1);	
		}
    </script>
</head>

<body>
<div class="nav">
	<ul>
    	<li class="l-btn" onclick="goBack()"></li>
    </ul>
</div>
<div class="content">
	<div class="header clear"><h2><img src="img/head.png" alt=""/></h2><p>智能社</p></div>
    <div class="cont">
    	<h3>智能社智能社智能社智能社智能社智能社智</h3>
        <div class="time"><p>2016-9-25 12:49:16 <span><img src="img/zan.png" alt=""/></span></p></div>
        <div class="text-box">
            <p>智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社</p>
            <p>智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社</p>
            <p>智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社</p>
            <p>智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社智能社</p>
        </div>
    </div>
</div>
<div class="foot-btn">
	<ul>
    	<li class="say"><a href="javascript:;">
        	<i></i><span>0</span>
        </a></li>
    	<li class="zan"><a href="javascript:;">
        	<i></i><span>0</span>
        </a></li>
    	<li class="xing"><a href="javascript:;">
        	<i><img src="img/xing.png" alt=""/></i>
        </a></li>
    	<li class="fx"><a href="javascript:;">
        	<i><img src="img/fx.png" alt=""/></i>
        </a></li>
    </ul>
</div>
</body>
</html>
