{
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-new": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off",
    "no-useless-return": "off"
  }
}
