{
  "presets": [
    [
      "env",
      {
        "target": {
          "node": "current"
        }
      } 
    ]
  ],
  "plugins": [
    [
      "transform-runtime", {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]  
}