//
   Created by Danny on 2015/9/22.

html
   head
       title 哈哈
   body
       #box
           ul
               li   我是新闻
               li   我是新闻
               li   我是新闻
               li   我是新闻
       #aside