<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <input v-model="title">
    <button @click="add">添加</button>
    <ul>
      <li v-for="item in list">{{item}}</li>
    </ul>
  </div>
  <script src="https://cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
  <script>
    console.log(Vue)
    var vm = new Vue({
      el: '#root',
      data: {
        title: '',
        list: []
      },
      methods: {
        add: function() {
          if (!this.title) return
          this.list.push(this.title)
          this.title = ''
        }
      }
    })
  </script>
</body>
</html>