<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
</head>
<body>
  <div class="page">
    <% include components/top.inc.ejs %>
    <div class="content-wrap">
      我是首页
    </div>
  </div>  
</body>
</html>