<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>4显示过滤-排序结果</title>
</head>
<body>
<div id="app">
  <p>有时，我们想要显示一个数组的过滤或排序副本，而不实际改变或重置原始数据。在这种情况下，可以创建返回过滤或排序数组的计算属性。</p>
  <ul>
    <li v-for="n in evenNumbers">{{ n }}</li>
  </ul>

  <br />
  <p>或者，你也可以在计算属性不适用的情况下 (例如，在嵌套 v-for 循环中) 使用 method 方法：</p>
  <ul>
    <li v-for="n in even(numbers)">{{ n }}</li>
  </ul>
</div>
<!-- vue.js -->
<script src="../../vendor/vue.js"></script>
<script>
var vm = new Vue({
  el: '#app',
  data: {
    numbers: [1,2,3,4,5,6]
  },
  computed: {
    evenNumbers: function() {
      return this.numbers.filter(function(number) {
        return number % 2 === 0
      })
    }
  },
  methods: {
    even: function(numbers) {
      return numbers.filter(function(number) {
        return number % 2 === 0;
      });
    }
  }
});
</script>
</body>
</html>