* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  vertical-align: baseline
}

img {
  border: 0 none;
  vertical-align: top
}

em,
i {
  font-style: normal
}

ol,
ul {
  list-style: none
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select {
  font-size: 100%;
  font-family: inherit
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

a {
  text-decoration: none;
  color: #666
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  height: 100%;
  font-size: 14px;
  font-family: Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -webkit-user-select: none;
  user-select: none
}

input[type="text"],
textarea {
  -webkit-appearance: none;
  appearance: none
}

.display_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex
}

.display_flex.horizontal {
  box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row
}

.display_flex.vertical {
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
