<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>1基础语法</title>
<style>
  textarea{width:60%; height:120px; resize:none; box-sizing:border-box; padding:20px;}
</style>
</head>
<body>
<div id="app">
  <!-- 。。。。。。。。。。。。。。。 分隔线  。。。。。。。。。。。。。。。。。  -->
  <h2>文本</h2>
  <input type="text" v-model="message" placeholder="edit me" />
  <p>Message is: {{ message }}</p>


  <!-- 。。。。。。。。。。。。。。。 分隔线  。。。。。。。。。。。。。。。。。  -->
  <h2>多行文本</h2>
  <span>Multiline message is :</span>
  <p>{{ message }}</p><br />
  <textarea v-model="message" placeholder="add multiple lines"></textarea>


  <!-- 。。。。。。。。。。。。。。。 分隔线  。。。。。。。。。。。。。。。。。  -->
  <h2>复选框</h2>
  <input type="checkbox" id="checkbox" v-model="checked" />
  <span>当前选择了复选框：{{ checked }}</span>

  <p>多个勾选框，绑定到同一个数组：</p>
  <input type="checkbox" id="jack" value="jack" v-model="checkedNames" /><label for="jack">Jack</label>
  <input type="checkbox" id="john" value="john" v-model="checkedNames" /><label for="john">John</label>
  <input type="checkbox" id="mike" value="mike" v-model="checkedNames" /><label for="mike">Mike</label>
  <br />
  <span>Checked names: {{ checkedNames }}</span>



  <!-- 。。。。。。。。。。。。。。。 分隔线  。。。。。。。。。。。。。。。。。  -->
  <h2>单选按钮</h2>
  <input type="radio" id="one" value="One" v-model="picked" /><label for="one">One</label><br />
  <input type="radio" id="two" value="Two" v-model="picked" /><label for="two">Two</label><br />
  <input type="radio" id="three" value="Three" v-model="picked" /><label for="three">Three</label><br />
  <span>Picked: {{ picked }}</span>


  <!-- 。。。。。。。。。。。。。。。 分隔线  。。。。。。。。。。。。。。。。。  -->
  <h2>选择列表</h2>
  <select v-model="selected">
    <option>请选择</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select><br />
  <span>Selected: {{ selected }}</span><br /><br />

  <select v-model="selected_mtp" multiple>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
  </select><br />
  <span>Selected: {{ selected_mtp }}</span>

  <br><br>
  <h2>动态选项，用v-for渲染</h2>
  <select v-model="selected2">
    <option v-for="option in options" :value="option.value">{{ option.text }}</option>
  </select>
  <span>Selected: {{ selected2 }}</span>
</div>
<!-- vue.js -->
<script src="../../vendor/vue.js"></script>
<script>
var vm = new Vue({
  el: '#app',
  data: {
    message: '',
    checked: 'false',
    checkedNames: [],
    picked: '',
    selected: '',
    selected_mtp: [],
    'selected2': 'A',
    options: [
      { value: 'A', text: 'A. 你好吗' },
      { value: 'B', text: 'B. 我不好' },
      { value: 'C', text: 'C. 好个戳戳' },
    ],
  }
});
</script>
</body>
</html>